<!-- songs.html -->
{% extends 'base.html' %}

{% block content %}
    <h1>Spotify Songs</h1>
    <form action="http://localhost:8000/saved_songs" method="get">
        <label for="release_year">Enter Release Year:</label>
        <input type="text" id="release_year" name="year" placeholder="e.g., 2022">

        <button type="submit">Filter Songs</button>
    </form>

    <div class="song-grid">
        {% for song, cover in songs_and_covers %}
        <div class="song">
            <img src="{{ cover }}" alt="{{ song }}">
            <p>{{ song }}</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}
